name: Build & Deploy to EC2

on:
  push:
    branches:
      - main
permissions:
  contents: read
  packages: write
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ Checkout repo
      - name: Checkout code
        uses: actions/checkout@v4

      # 2️⃣ Login to GitHub Container Registry
      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # 3️⃣ Build & Push Backend Image
      - name: Build & Push Backend
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          push: true
          tags: |
            ghcr.io/rajatrathor/blueorng-backend:latest

      # 4️⃣ Build & Push Frontend Image
      - name: Build & Push Frontend
        uses: docker/build-push-action@v5
        with:
          context: ./frontend
          push: true
          tags: |
            ghcr.io/rajatrathor/blueorng-frontend:latest

      # 5️⃣ Deploy on EC2 (NO BUILD HERE)
      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          port: 22
          request_pty: true
          timeout: 120s
          script: |
            cd ~/Blueorng
            git pull origin main

            docker compose pull
            docker compose up -d

            docker exec clothingbrand-backend npx prisma migrate deploy
